<h1>Edit <%= @list.name %></h1>

<%= form_for @list do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :note %>
  <%= f.text_field :note %>
  <br>
  <% @list.cocktails.each do |c|%>
    <%= f.label :c.name %>
    <%= f.text_field :c.name%>
    <br>
    <%= f.label  :c.bar.name %>
    <%= f.text_field :c.bar.name%>
    <%= f.submit%>
  <% end%>
<% end %>
