<h2>Cocktail: <%= @cocktail.name %></h2>
<br>
<p>What is <%= @cocktail.name  %>?</p>
<p><%= @cocktail.description %></p>
<br>

<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <% if @cocktail.image.present? %>
        <%= cl_image_tag @cocktail.image %>
      <% else %>
        <%= image_tag "http://finedininglovers.cdn.crosscast-system.com/BlogPost/l_12732_cocktail-recipe.jpg" ,class:"userImage"%>
      <% end %>
    </div>
    <div class="col-xl-6" id="ingredientsList">
      <p>Ingredients:</p>
      <ul>
        <% @cocktail.ingredients.each do |i| %>
        <li>
          <%=  i.beverage %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br>
<div>
  <% if @lists.present? %>
    <p>It belongs to my list:</p>
    <ul>
      <% @lists.each do |l|%>
        <li><%= l.name %></div>
      <% end %>
    </ul>
  <% end %>
</div>
<br>
<%= form_tag favourite_cocktail_path(@cocktail), id: 'addForm' do %>
  <%= label_tag :list_id, 'Add it to my list:' %>
  <div id="existingList">
  <%= select_tag :list_id,
      options_for_select(
        [['Select a list', -1]] +
        @current_user.lists.pluck(:name, :id) +
        [['Add to New List', 'other']]
      ),
      class: "listControl"
  %>
  <%= submit_tag "submit", class: "listControl"%> <span id="selectWarning"> Please select a list option</span>
  </div>
  <div id="otherList">
    <input id="newList" type="text" name="list_name" placeholder="create a new list here">
    <input type="submit" id="addList">
  </div>
<% end %>
<br>
<div class="control">
  <%= link_to "Edit This Cocktail", edit_cocktail_path(@cocktail), class: "redirect"%>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Delete This Cocktail", cocktail_path(@cocktail), method: :delete ,class: "redirect" %>
</div>
<br>
<%= link_to "Back to Bar", bar_path(@cocktail.bar) %>
