<h1>Cocktail: <%= @cocktail.name %></h1>

<p>What is <%= @cocktail.name  %>?</p>
<%= @cocktail.description %>

<p>Ingredients:</p>
<ul>
<% @cocktail.ingredients.each do |i| %>
<li>
  <%=  i.beverage %>
</li>
<% end %>
</ul>

<% if @cocktail.image.present? %>
<%= cl_image_tag @cocktail.image %>
<% end %>
<br>

<% if @lists.present? %>
  <p>It belongs to my list:</p>
  <% @lists.each do |l|%>
  <%= l.name %>
  <% end %>

<% end %>


<!-- <p>Add it to my list:</p> -->
<hr>
<br>

<%# if @current_user.present? %>
<%# @current_user.lists.each do |list| %>
<%= form_tag favourite_cocktail_path(@cocktail) do %>
  <!-- <fieldset> -->

<%= label_tag :list_id, 'Add it to my list:' %>
<div id="existingList">
<%= select_tag :list_id, options_for_select([@current_user.lists.pluck(:name, :id), "other"]), include_blank: true, class: "listControl"%>
<%= submit_tag "submit", class: "listControl"%>
</div>
<div id="otherList">
  <input id="newList" type="text" placeholder="create a new list here">
  <input type="submit" id="addList">
</div>
  <!-- </fieldset> -->
<% end %>
<%# end %>
<hr>
<%= link_to "Edit This Cocktail", edit_cocktail_path(@cocktail) %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "Delete This Cocktail", cocktail_path(@cocktail), method: :delete %>

<br>
<%= link_to "Back to Bar", bar_path(@cocktail.bar) %>
