<h2 class="bars">Bars in Sydney</h2>


<%= link_to "Add More..", new_bar_path , class: "redirect"%>
<br><br><br>

<div class="container">
  <div class="row">
    <% @bars.each do |b| %>
      <div class="col-sm-4">
        <%= link_to b.name, bar_path(b) %>
      </div>
    <% end %>
  </div>
</div>
<br><br><br>

<div class="searchBar">
  <div class="searchText">
    Search your bar here:
  </div>
  <%= form_tag search_bar_path, method: :get do %>
    <%= text_field_tag :query, nil, placeholder: "Enter seach keywords" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>


<div id="map"></div>
<br><br>
<%= link_to "Back To My Profile", profile_path %>




<script>

  var bars = <%= @bar_locations.to_json.html_safe %>;
  // var bars = [
  //   {"lat":-33.869667,"lng":151.2056116,"name":"The Baxter Inn","phone":"(02) 9221 5580","address":"152-156 Clarence St, Sydney","website":"http://thebaxterinn.com/"},
  //   {"lat":-33.8835779,"lng":151.2009593,"name":"Stitch","phone":"(02) 9279 0380","address":"15 Broadway, Ultimo","website":"http://www.houseofpocket.com.au/bars/stitch-bar-sydney-cbd/venue-details/"},
  //   {"lat":-33.8696192,"lng":151.2064988,"name":"Grasshopper","phone":"(02) 9947 9025","address":"1 Temperance Lane, Sydney","website":"http://thegrasshopperbar.com/"},
  //   {"lat":-33.890072,"lng":151.2073062,"name":"Mjølner","phone":"(02) 8646 4930","address":"267 Cleveland St, Redfern","website":"https://mjolner.com.au/"},
  //   {"lat":-33.8571982,"lng":151.2050025,"name":"The Barber Shop","phone":"(02) 9299 9699","address":"22 Hickson Road, Walsh Bay NSW 2000","website":"http://thisisthebarbershop.com/"},
  //   {"lat":-33.867196,"lng":151.204545,"name":"Assembly Bar","phone":"(02) 9261 0552","address":"488 Kent St, Sydney","website":"http://www.assemblybar.com.au/"}
  // ];



function initMap() {
  let map = new google.maps.Map(document.getElementById('map'), {
    // zoom: 15,
    // center: bars[0]
  });

  var bounds = new google.maps.LatLngBounds();

  for (var i = 0; i < bars.length; i++) {
    const bar = bars[i];


    let contentString =
        "<div>"+
        `<h5>${bar.name}</h5>`+
        `<div>${bar.phone}</div>`+
        `<div>${bar.address}</div>`+
        `<a href="${bar.website}" target= "_blank">`+`${bar.website}`+`</a>`+
        "</div>";

    let infowindow = new google.maps.InfoWindow({
          content: contentString
        });

    let marker = new google.maps.Marker({
      position: bar,
      map: map,
      title: bar.name
    });

    bounds.extend(marker.position);

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
  // fit the map to the newly inclusive bounds
  map.fitBounds(bounds);

  // restore the zoom level after the map is done scaling
  let listener = google.maps.event.addListener(map, "idle", function () {
    map.setZoom(13);
    google.maps.event.removeListener(listener);
  });
}



</script>
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpskf5JVqWv7kAPgmuqRgYR9NeN6eeWSY&callback=initMap">
   </script>
 </body>
