<h2 class="bars">Bars in Sydney</h2>



<%= link_to "Add More..", new_bar_path , class: "redirect"%>
<br>
<br>
<br>
<!-- <ul> -->
<div class="container">
  <div class="row">
    <% @bars.each do |b| %>
      <div class="col-sm-4">

          <!-- <li> -->

        <%= link_to b.name, bar_path(b) %>
      </div>
          <!-- </li> -->
    <% end %>
  </div>
</div>
<!-- </ul> -->

<br>
<br>
<br>




<div class="searchBar">
  <div class="searchText">Search your bar here:</div>
  <%= form_tag search_bar_path, method: :get do %>
    <%= text_field_tag :query, nil, placeholder: "Enter seach keywords" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<!--
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div> -->








<div id="map"></div>
<br>
<br>
<%= link_to "Back To My Profile", profile_path %>

<script>

  var bars = <%= @bar_locations.to_json.html_safe %>;
  //  var bars = [
  //   {"lat":-33.868103,"lng":151.2053,"name":"The Baxter Inn"},
  //   {"lat":-33.867196,"lng":151.204545,"name":"Assembly Bar"},
  //   {"lat":-33.863277,"lng":151.206962,"name":"Grasshopper"},
  //   {"lat":-33.885988,"lng":151.198248,"name":"Mjølner"},
  //   {"lat":-33.868103,"lng":151.2053,"name":"The Barber Shop"},
  //   {"lat":-33.8713221,"lng":151.2046436,"name":"Stitch"}
  // ];



 //  for (i = 0; i < locations.length; i++) {
 //   var marker = new google.maps.Marker({
 //     position: new google.maps.LatLng(locations[i][1], locations[i][2]),
 //     map: map
 //   });
 //
 //   //extend the bounds to include each marker's position
 //   bounds.extend(marker.position);
 //
 //   google.maps.event.addListener(marker, 'click', (function(marker, i) {
 //     return function() {
 //       infowindow.setContent(locations[i][0]);
 //       infowindow.open(map, marker);
 //     }
 //   })(marker, i));
 // }
 //
 // //now fit the map to the newly inclusive bounds
 // map.fitBounds(bounds);
 //
 // //(optional) restore the zoom level after the map is done scaling
 // var listener = google.maps.event.addListener(map, "idle", function () {
 //     map.setZoom(3);
 //     google.maps.event.removeListener(listener);
 // });



function initMap() {
  //
  let map = new google.maps.Map(document.getElementById('map'), {
    // zoom: 15,
    // center: bars[0]
  });

  var bounds = new google.maps.LatLngBounds();

  for (var i = 0; i < bars.length; i++) {
    const bar = bars[i];


    let contentString =
        "<div>"+
        `<h5>${bar.name}</h5>`+
        `<div>${bar.phone}</div>`+
        `<div>${bar.address}</div>`+
        `<div>${bar.website}</div>`+
        "</div>";

    let infowindow = new google.maps.InfoWindow({
          content: contentString
        });

    let marker = new google.maps.Marker({
      position: bar,
      map: map,
      title: bar.name
    });

    bounds.extend(marker.position);

    marker.addListener('click', function() {
      // return function() {
      // infowindow.setContent();
      infowindow.open(map, marker);
      // }
    });
  }
  //now fit the map to the newly inclusive bounds
  map.fitBounds(bounds);

  //(optional) restore the zoom level after the map is done scaling
  let listener = google.maps.event.addListener(map, "idle", function () {
    map.setZoom(14);
    google.maps.event.removeListener(listener);
  });
}



</script>
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpskf5JVqWv7kAPgmuqRgYR9NeN6eeWSY&callback=initMap">
   </script>
 </body>
