<h1><%= @user.username %> personal profile page</h1>

<p>My personal lists</p>

<% @user.lists.each do |l| %>
<div class = "row">
  <p><strong><%= link_to l.name, list_path(l) %></strong></p>
  <% end %>
</div>

<%= link_to "Add More", new_list_path%>

<p>The bars I like: </p>


<% @user.bars.each do |b| %>
<p><strong><%= link_to b.name, bar_path(b) %></strong></p>
<% end %>

<%= link_to "Check for more", bars_path%>

<hr>
<%= link_to "Back to Personal Setting", root_path %>
