<h2>Something about <%= @user.username %>...</h2>
<br>

<div class="list-group">
  <!-- <div class="col-md-8"> -->
    <div class = "row">
      <div class = "col-md-12">
        <h4>My personal lists</h4>
      </div>
    </div>

    <% @user.lists.each do |l| %>
    <!-- <div class = "row"> -->
      <!-- <div class = "col-md-6"> -->
        <p><strong><%= link_to l.name, list_path(l), class: "list-group-item col-md-6"%></strong></p>
      <!-- </div> -->
      <% end %>
    <!-- </div> -->

    <div class = "row">
      <div class = "col-md-12">
        <%= link_to "Add More..", new_list_path, class: "redirect"%>
      </div>
    </div>
  </div>

  <!-- </div> -->
</div>
<!-- <div id="userImage" class="col-md-4">
  <% if @current_user.image.present? %>
    <%# cl_image_tag @current_user.image%>
  <% end%>
</div> -->
<br>
<div class="list-group">
  <div class="row">
    <div class="col-sm-12">
      <h4>The bars I like: </h4>
    </div>
  </div>

  <% @user.bars.each do |b| %>
  <div class="row">
    <div class="col-sm-12">
      <p><strong><%= link_to b.name, bar_path(b), class: "list-group-item col-md-6" %></strong></p>
    </div>
  </div>
  <% end %>
</div>


<br>
<%= link_to "Check for more..", bars_path, class: "redirect"%>

<!-- <hr> -->
<%# link_to "Back to Welcome Page", root_path%>


<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div> -->
