<!DOCTYPE html>
<html>
  <head>
    <title>nostrum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>
  </head>

  <body>
    <h1>nostrum</h1>

   <nav class="navbar transparent navbar-expand-lg navbar-light bg-light">
    <% if @current_user.present? %>
      <span>Welcome, amigo!</span>&nbsp;&nbsp;&nbsp;
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
              <strong><%= @current_user.username%></strong>
          </a>
          <ul class="dropdown-menu">
            <li>
              <div class="navbar-login">
                  <div class="row">
                      <div class="col-lg-6">
                          <p class="text-center">
                              <% if @current_user.image.present? %>
                              <%= cl_image_tag @current_user.image , class: "userImage"%>
                              <% else %>
                              <%= image_tag "http://thephpfactory.com/images/user_profile1.png", class: "userImage"%>
                              <% end %>
                          </p>
                      </div>
                      <div class="col-lg-6">
                          <div class="text-left"><strong><%= @current_user.username %></strong></div>
                          <div class="text-left small emailDisplay"><%= @current_user.email %></div>
                          <div class="text-left settingButton">
                              <%= link_to "Personal Setting", edit_user_path(@current_user), class: "btn btn-primary btn-block btn-sm buttonFont"%>
                          </div>
                          <div class = "settingButton">
                            <%= link_to "Log out", login_path, method: :delete, class: "btn btn-danger btn-block buttonFont"%>
                          </div>
                      </div>
                  </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", login_path%>&nbsp;&nbsp;||&nbsp;&nbsp;
      </li>
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_path%>
      </li>
    <% end %>
  </nav>
    <hr>
    <%= yield %>
    <br>
    <br>
    <hr>
    <p class="footer">&copy; 2018 Linna Studio All rights reserved </p>
  </body>
</html>
